- blueprint 'span-21 prepend-1 last' do
  - blueprint 'span-2' do
    = image_tag(student_request.user.person.photo.url(:card), :size => '70x70')
  - blueprint 'span-17' do
    - blueprint 'span-17 last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Nombre: '
        = student_request.user.person.fullname
      - blueprint 'span-7 last' do
        %b= 'Teléfono: '
        = student_request.user.address.phone
    - blueprint 'span-17  last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Actividad a realizar: '
        = student_request.role.name
      - blueprint 'span-7 last' do
        %b= 'Período: '
        = student_request.period.name
    - blueprint 'span-17  last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Correo electrónico: '
        = student_request.user.email
      - blueprint 'span-7 last' do
        %b= 'Estado de solicitud:' 
        = student_request.requeststatus.name
- blueprint 'span-20 prepend-1 last', :style => 'border-bottom: 1px solid green; padding-top: 10px; padding-bottom: 10px; margin-bottom: 30px; text-align: left;' do
  - blueprint 'span-5' do
    = link_to 'Ver ficha completa', managers_student_path(:id => student_request.user.id) 
