%tr
  %td
    - if !user.person.nil? and !user.person.photo.nil?
      = image_tag(user.person.photo.url(:card), :size => '70x70') 
  %td
    - unless user.person.nil?
      = user.person.fullname
  %td
    - unless user.address.nil?
      = user.address.phone
  %td
    =  mail_to user.email,user.email, :encode => "hex"
  %td
    %table.table.table-condensed
      %thead
        %tr
          %th= 'Periodo'
          %th= 'Responsable académico'
          %th= 'Tipo de actividad'
          %th= 'Estado de solicitud'
          %th= 'Tipo de solicitud'
          %th= 'Aprobado por CD-IF'
          %th= '¿Tuvo escritorio/espacio en el instituto?'
          %th= 'Edificio'
          %th= 'Cubículo o área de trabajo'
          %th= 'Horario'
          %th= '¿Tiene alguna discapacidad?'
          %th= 'Discapacidad'
          %th= 'Requerimiento especial'
      %tbody
        = render :partial => 'user_request', :collection => user.user_requests
  %td
    = link_to 'Ver ficha completa', managers_student_path(:id => user.id), :class => 'btn btn-info'
    = link_to 'Borrar', managers_student_path(user.id), :method => :delete, :confirm => t(:confirm_question), :class => 'btn btn-danger'

