- unless user_request.nil?
  -blueprint 'span-18  last student_request', :id => 'collection_tr' do
    - blueprint 'span-3' do
      = user_request.period.name unless user_request.period_id.nil?
    - blueprint 'span-3' do
      = link_to user_request.user_incharge.fullname, "http://olimpo.fisica.unam.mx/salva/public/home_pages/#{user_request.remote_user_incharge_id}?locale=en", :target => "_new"
    - blueprint 'span-3' do
      = user_request.role.name unless user_request.role_id.nil?
    - blueprint 'span-3' do
      = user_request.requeststatus.name unless user_request.requeststatus_id.nil?
    - blueprint 'span-3' do
      = user_request.is_restamped == true ? 'Resello' : 'Nueva solicitud'
    - blueprint 'span-3 last' do
      - if is_user_request_authorizable?(user_request)
        %span{:id=>'authorization_'+user_request.id.to_s}
          = link_to 'Autorizar solicitud',  '#', :link => authorize_managers_student_path(user_request), :class => 'ui-state-default ui-corner-all button authorize_link', :id => user_request.id, :confirm => '¿Desear autorizar esta solicitud?'
      - else
        %b= user_request.is_official == true ? 'Sí' : 'No'
