%tr{:id => dom_id(user_request) }
  %td
    = user_request.period.name unless user_request.period_id.nil?
  %td
    = link_to user_request.user_incharge.fullname, "http://salva.fisica.unam.mx/web_site/home_pages/#{user_request.remote_user_incharge_id}?locale=en", :target => "_new"
  %td
    = user_request.role.name unless user_request.role_id.nil?
  %td
    = user_request.requeststatus.name unless user_request.requeststatus_id.nil?
  %td
    = user_request.is_restamped == true ? 'Resello' : 'Nueva solicitud'
  %td
    - if is_user_request_authorizable?(user_request)
      %span{:id=>'authorization_'+user_request.id.to_s}
        = link_to 'Autorizar solicitud',  '#', :link => authorize_managers_student_path(user_request), :class => 'btn btn-success authorize_link', :id => user_request.id, :confirm => '¿Desear autorizar esta solicitud?'
        = link_to 'Borrar solicitud', destroy_request_managers_student_path(user_request), :class => 'btn btn-danger destroy_request_link', :confirm => '¿Desear borrar esta solicitud?'
    - else
      %b= user_request.is_official == true ? 'Sí' : 'No'

  %td= (user_request.had_desktop_in_previous_period?) ? 'Sí' : 'No'
  %td= user_request.building.name unless user_request.building.nil?
  %td= user_request.desktop
  %td= user_request.schedule.name unless user_request.schedule.nil?
  %td= (user_request.has_disability?) ? 'Sí' : 'No'
  %td= user_request.disability.name unless user_request.disability.nil?
  %td= user_request.special_requeriment
