#filters
  .well.span12
    %h3= 'Estudiantes Asociados'
    = render :partial => 'search_form'
  .clearfix

  .well
    %h3= 'Listar estudiantes usando la letra como inicial del apellido paterno'
    %br/
    - %w(a b c d e f g h i j k l m n ñ o p q r s t u v w x y z).each do |char|
      = link_to char, managers_students_path(:search => {:lastname_start_with =>char}), :class => 'badge badge-warning'

%table#collection.table.table-bordered.table-condensed
  %thead
    %tr
      %th= 'Fotografía'
      %th= 'Nombre'
      %th= 'Teléfono'
      %th= 'Correo electrónico'
      %th= 'Solicitudes'
      %th= 'Acciones'
  %tbody
    = render :partial => 'user', :collection => @users

#paginator.well
  = will_paginate(@users)

