- blueprint 'span-23 prepend-1 last' do
  %h3= 'Estudiantes Asociados'
 
- blueprint 'span-24 last' do
  = render :partial => 'search_form'

- blueprint 'span-23 prepend-1 last' do
  - blueprint 'span-23  last', :style => 'font-size: 16px;' do
    - %w(a b c d e f g h i j k l m n ñ o p q r s t u v w x y z).each do |char| 
      = link_to char + ' ',  managers_students_path(:char=>char)
  = render :partial => 'student_request', :collection => @user_requests
- blueprint 'span-23 prepend-1 last' do
  = will_paginate(@user_requests)
