%table#collection.table.table-bordered.table-condensed
  %thead
    %tr
      %th= 'Fotografía'
      %th= 'Nombre'
      %th= 'Teléfono'
      %th= 'Correo electrónico'
      %th= 'Solicitudes'
      %th= 'Acciones'
  %tbody
    = render :partial => 'user', :collection => @users

#paginator.well.ajaxed_paginator
  = will_paginate(@users)
