%h3= t '.title'
= simple_form_for(@user, :url => profile_path, :method => :put) do |f|
  = render :partial => 'shared/errors', :locals => { :f => f }
  = f.simple_fields_for :person do |person_form|
    .well= render :partial => 'people/form', :locals => { :f => person_form }
  = f.simple_fields_for :address do |address_form|
    .well= render :partial => 'addresses/form', :locals => { :f => address_form }
  = f.submit t(:save), :class => 'btn btn-primary'
  = ' '
  = link_to t(:cancel), profile_path, :class => 'btn'
