= error_messages_for :user
- form_for(@user, :profile, :url => profile_path, :builder => MyFormBuilder, :html => {:method => :post}) do |f|
  - f.hidden_field :id, :value => current_user.id
  - f.fields_for 'person_attributes', @user.person do |person_form|
    = render :partial => 'people/form', :locals => { :f => person_form }
  - f.fields_for 'address_attributes', @user.address do |address_form|
    = render :partial => 'addresses/form', :locals => { :f => address_form }
  - blueprint 'span-20 prepend-2 last', :style => 'text-align: left;', :id => 'buttons' do
    = f.submit t(:save), :class => 'ui-state-default ui-corner-all button'
    = link_to t(:cancel), profile_path, :class => 'ui-state-default ui-corner-all button'