%div{:class => 'span-12	 prepend-1'}
  %p{:class => 'notice_box blue'}
    = image_tag('ok.png')
    = 'Registro y resello de credenciales para Estudiantes Asociados al Instituto de Física de la UNAM '
    %b= '(Período: 2010-2).'
  %p{:class => 'notice_box red'}
    = image_tag('calendar.png')
    = 'El registro de nuevos estudiantes o resello estará abierto del '
    %b= '15 febrero al 05 de marzo de 2010.'
  
  %p{:class => 'browser_note'}
    = "Esta aplicación es compatible con las versiones más recientes de los navegadores: Firefox, Internet Explorer, Safari o Chrome."

%div{:class => 'span-8 prepend-1 last', :style => 'text-align: left;'}
  %h3= 'Inicio de Sesión'
  - form_for @session, :session, :url => session_path do |f|
    %p{:style => 'vertical-align: middle;'}
      = f.label :login, "Usuario:", :class => 'login'
      = f.text_field :login, :size => 12
    %p{:style => 'vertical-align: middle;'}
      = f.label :password, "Contraseña:", :class => 'login'
      = f.password_field :password, :size => 12
    %p
      = f.submit 'Entrar', :class => 'ui-state-default ui-corner-all button'
  %p
    = '¿No tiene una cuenta en el sistema?'
    %br
    = link_to 'Crear una cuenta nueva', new_user_path
  %p
    = '¿Ha olvidado su contraseña?'
    %br
    = link_to 'Crear una nueva contraseña', new_recover_password_path
  %br
%div{:id => :recover_password_dialog, :title => "Recover your password"}