.well.span6
  %h3= t '.title'
  = simple_form_for(resource, :as => resource_name, :url => academics_user_session_path) do |f|
    .form-inputs
      = f.input :login, :required => true, :autofocus => true, :as => :string, :input_html => { :class => 'input-small'}
      = f.input :password, :required => true, :input_html => { :class => 'input-small' } 
      = f.input :remember_me, :as => :boolean
    .form-actions
      = f.button :submit, :class => 'btn btn-primary'
  .span12.alert.alert-success
    - %w(hint_1 hint_2).each do |hint|
      .well.alert.alert-warning
        .i.icon-info-sign
        = ' '
        = t('.'+hint).html_safe
  .clearfix
