= f.error_notification

.inputs
  - blueprint 'span-20 prepend-2 last '  do
    = f.association :building
    = f.association :cubicle_type
  - blueprint 'span-20 prepend-2 last'  do
    = f.input :name_or_number, :input_html => {:size => 10}
    = f.input :number_of_desktops, :input_html => {:size => 2}

.actions
  = f.submit t(:save), :class => 'ui-state-default ui-corner-all button'
  = link_to t(:cancel), academics_office_cubicles_path, :class => 'ui-state-default ui-corner-all button'
