<div class="user_profile">
<%= render :partial => 'user_profile/basic' %>
</div>
<br/>
<div class="user_profile" style="float:none; height: 20px;">
<% unless @user_profile.photo.nil? %>
<b>Imprimir credencial: </b> 
<%= link_to 'Imprimir frente', front_admin_card_path(:id => @user_request.id) %> |
<%= link_to 'Imprimir código de barras', back_admin_card_path(:id => @user_request.id) %> |
<%= link_to 'Modificar fotografía', edit_admin_photo_path(:id => @user_request.id) %>
<% else %>
<%= link_to 'Agregar fotografía', new_admin_photo_path(:id => @user_request.id) %>
<% end %>
</div>
<br/>
<div style="float:none; position:relative; font: normal 9pt, Arial, sans-serif; margin-bottom: 20px; border: none; border-bottom: 1px; padding-bottom: 3px;">
<%= @user_request.requirements.collect do |h|
    if  h[:filled]  == true
    if  h[:is_collection] == true
     content_tag(:span, link_to_remote(get_label(h[:controller]), :url => "/#{h[:controller]}/list/#{@user_request.id}"), :method => :get, :class => 'section_link')
    else
     content_tag(:span, link_to_remote(get_label(h[:controller]), :url =>  "/#{h[:controller]}/#{@user_request.id}"), :class => 'section_link')
    end
   else
    content_tag(:span, "##{h[:controller]}" + image_tag('pending.gif'), {:escape => false, :class => 'section_link'} )
   end
end.join(' | ')
%>
</div>

<div id="controller_form">
</div>
<%= link_to get_label('back'), admin_user_requests_url %> 

