= f.hidden_field :id unless f.object.new_record?

%h3= t '.personal_info'
= f.input :firstname, :as => :string, :required => true, :input_html => { :class => 'input-medium' }
= f.input :lastname1, :as => :string, :required => true, :input_html => { :class => 'input-medium' }
= f.input :lastname2, :as => :string, :input_html => { :class => 'input-medium' }

%div.control-group.string.required
  = label :gender, t(:gender, :scope => 'activerecord.attributes.person'), :class => 'string required control-label'
  %div.controls
    = (f.radio_button :gender, false, :checked => (!f.object.gender unless f.object.nil?)) + 'Femenino'
    = (f.radio_button :gender, true, :checked => (f.object.gender unless f.object.nil?)) + 'Másculino'

%h3= t '.date_and_place_of_birth'
= f.input :birthdate,  :as => :string, :required => true, :input_html => { :class => 'input-small birthdate' }
- f.object.country_id = 484 if f.object.new_record?
= f.association :country, :as => :select, :input_html => { :class => 'chzn-select' }, :id => 'person_country', :required => true, :selected => f.object.country_id

#person_state{:style => "display:#{f.object.country_id == 484 ? 'block-inline' : 'none'}"}
  = f.association :state, :collection => State.find_all_by_country_id(484), :as => :select, :input_html => { :class => 'chzn-select' }

= f.input :city, :required => true, :as => :string
