%h3= t '.title'
= show_for person do |p|
  = p.attribute :firstname
  = p.attribute :lastname1
  = p.attribute :lastname2
  %p.wrapper.person_gender
    %strong=t(:gender, :scope => 'activerecord.attributes.person') + ': '
    = person.gender? ? t(:male) : t(:female)

%b= t :date_and_place_of_birth
= show_for person do  |p|
  = p.attribute :birthdate
  = p.association :country, :using => :name
  = p.association :state, :using => :name
  = p.association :city
