= render :partial => 'shared/errors', :locals => { :f => f}

= f.association :document, :as => :radio, :required => true
= f.input :file, :as => :file, :required => true

.span12
  = f.button :submit, :class => 'btn btn-success'
  = link_to t(:cancel), user_documents_path, :class => 'btn'
