- blueprint 'span-20 prepend-1 last', :style => 'padding: 10px;' do
  - blueprint 'span-2', :style => 'margin-left: -30px; margin-right: 50px;' do
    = image_tag(user_request.person.photo.url(:card), :size => '100x100')
  - blueprint 'span-17' do
    - blueprint 'span-17 last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Nombre: '
        = user_request.fullname
      - blueprint 'span-7 last' do
        %b= 'Teléfono: '
        = user_request.phone
    - blueprint 'span-17  last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Actividad a realizar: '
        = user_request.student_type
      - blueprint 'span-7 last' do
        %b= 'Período: '
        = user_request.period
    - blueprint 'span-17  last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Correo electrónico: '
        = user_request.email
      - blueprint 'span-7 last' do
        %b= 'Departamento:' 
        = user_request.department
    - blueprint 'span-17  last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Responsable académico: '
        = user_request.academic_incharge
      - blueprint 'span-7 last' do
        %b= 'Estado de solicitud:' 
        = user_request.request_status