%h2 Administración de usuarios
= form_for(resource, :as => resource_name, :url => managers_user_session_path(resource_name)) do |f|
  %p
    = f.label 'Usuario'
    %br/
    = f.text_field :login, :size => 12, :maxlength => 16

  %p
    = f.label 'Contraseña' 
    %br/
    = f.password_field :password, :size => 12
  %p= f.submit "Entrar"
