.well.span6
  %h3= t '.title'
  = simple_form_for(resource, :as => resource_name, :url => managers_user_session_path) do |f|
    .form-inputs
      = f.input :login, :required => true, :autofocus => true, :as => :string, :input_html => { :class => 'input-small'}
      = f.input :password, :required => true, :input_html => { :class => 'input-small' } 
      = f.input :remember_me, :as => :boolean
    .form-actions
      = f.button :submit, t(:sign_in), :class => 'btn btn-primary'
