%div{:class => 'span-18 prepend-2', :style => 'text-align: left;'}
  %h3= 'Crear una cuenta nueva'
  - form_for @user, :session, :url => user_path do |f|
    %p
      = f.label :login, "Usuario:", :class => 'user_new'
      = f.text_field :login, :size => 12
    %p
      = f.label :email, "Correo electr칩nico:", :class => 'user_new'
      = f.text_field :email, :size => 30
    %p
      = f.label :password, "Contrase침a:", :class => 'user_new'
      = f.password_field :password, :size => 12
    %p
      = f.label :password_field,"Confirmaci칩n de contrase침a:", :class => 'user_new'
      = f.password_field :password_confirmation, :size => 12
    %p
      = submit_tag('Crear cuenta')
      = link_to 'Cancelar', new_session_path