   <p>
    <% period = Period.get_most_recent%>
   <label>Periodo</label> <%= period.name %>
   	<%= f.hidden_field :period_id, :value => period.id %>
   </p>
   <p>
   <label>Departamento del responsable académico</label>
   	<%= select :filter, :adscription_id, Adscription.find(:all).collect { |record| [record.name, record.id] }, { :prompt => '-- Seleccionar --' } %>
   </p>
   <%= observe_field ("filter_adscription_id", :update => "select_user_incharge_id", 
                                               :url => { :action => :update_select, :params => { :partial => 'user_incharge' }}, 
                                               :with => "'id='+value", :on => 'click') %>
   <div id="select_user_incharge_id"></div>
   <%= f.radio_buttons :is_restamped, :values => [true, false], :required => true %>
   <%= f.simple_select :role, :required => true %>
