= render :partial => 'shared/errors', :locals => { :f => f }

%div.control-group.required
  = label :user_request, t(:period, :scope => 'activerecord.attributes.user_request'), :class => 'string required control-label'
  = Period.activated.name

%div.control-group.required
  = label :user_request, t(:remote_adscription, :scope => 'activerecord.attributes.user_request'), :class => 'string required control-label'
  = f.collection_select :remote_adscription_id, AdscriptionClient.all, :id, :name, {:prompt => '-- Seleccionar --'}, :class => 'chzn-select'

%div.control-group.required
  = label :user_request, t(:user_incharge, :scope => 'activerecord.attributes.user_request'), :class => 'string required control-label'
  %div#remote_user_incharge_id
    = 'Para asignar un responsable académico seleccione un departamento'

= f.association :role, :as => :radio, :required => true

%div.control-group.required
  = label :user_request, t(:is_restamped, :scope => 'activerecord.attributes.user_request'), :class => 'string required control-label'
  - if Period.activated.enddate >= Date.today and current_user.user_requests.where(:requeststatus_id => 3).count > 0
    = (f.radio_button :is_restamped, true, :checked => f.object.is_restamped) + 'Resello de credencial'
  - else
    = (f.radio_button :is_restamped, false, :checked => !f.object.is_restamped) + 'Solicitud nueva'

- # = label :is_restamped, '¿Necesita espacio en un cubículo para estudiantes?'
- # = (f.radio_button :want_office_cubicle, true, :checked => f.object.want_office_cubicle) + 'Sí'
- # = (f.radio_button :want_office_cubicle, false, :checked => !f.object.want_office_cubicle) + 'No'
= f.input :want_office_cubicle, :value => false, :as => :hidden

%b= t '.start_date'
%div.control-group.required
  = label :user_request, t(:start_month, :scope => 'activerecord.attributes.user_request'), :class => 'string required control-label'
  = select_month(Date.today, :use_month_names => %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre), :field_name => 'user_request[start_month]')
= f.input :start_year, :as => :string, :required => true, :input_html => { :class => 'chzn-select input-small' }

%b= t '.end_date'
%div.control-group.required
  = label :user_request, t(:end_month, :scope => 'activerecord.attributes.user_request'), :class => 'string required control-label'
  = select_month(Date.today, :use_month_names => %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre), :field_name => 'user_request[end_month]')
= f.input :end_year, :as => :string, :required => true, :input_html => { :class => 'chzn-select input-small' }

.span12
  = f.button :submit, :class => 'btn btn-primary'
  = link_to t(:cancel), user_requests_path, :class => 'btn'
