%h3= "Solicitud de Estudiante Asociado - Período #{Period.most_recent.name}"
- blueprint('span-20 prepend-2 last', :id => 'collection_tr') do
  = f.collection_select :remote_adscription_id, AdscriptionClient.all, :id, :name, {:prompt => '-- Seleccionar --'}, :blueprint => 'span-10'
  - blueprint 'span-10 last' do
    = label(:user_request, t(:remote_user_incharge_id))
    %div{:id=>'remote_user_incharge'}
      = 'Para asignar un responsable académico seleccione un departamento'
- blueprint('span-20 prepend-2 last', :id => 'collection_tr') do
  = f.collection_select :role_id, Role.all, :id, :name, {:prompt => '-- Seleccionar --', :blueprint => 'span-10'}
  - blueprint 'span-10 last' do
    = label :is_restamped, 'Tipo de solicitud'
    = (f.radio_button :is_restamped, false, :checked => !f.object.is_restamped) + 'Solicitud nueva'
    = (f.radio_button :is_restamped, true, :checked => f.object.is_restamped) + 'Resello de credencial'

- blueprint('span-20 prepend-2 last', :id => 'collection_tr') do
  - # = label :is_restamped, '¿Necesita espacio en un cubículo para estudiantes?'
  - # = (f.radio_button :want_office_cubicle, true, :checked => f.object.want_office_cubicle) + 'Sí'
  - # = (f.radio_button :want_office_cubicle, false, :checked => !f.object.want_office_cubicle) + 'No'
  = f.hidden_field :want_office_cubicle, :value => false
- if f.object.role_id.to_i == 1
  = render :partial => 'form_dates'
- else
  %div{:id => 'form_dates'}
= hidden_field :user_request, :period_id, :value => Period.most_recent.id
- blueprint('span-22 prepend-2 last', :id => 'buttons') do
  = f.submit t(:save), :class => 'ui-state-default ui-corner-all button'
  = link_to t(:cancel), user_requests_path, :class => 'ui-state-default ui-corner-all button'

