%h3= t '.title'
%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th= t '.period'
      %th= t '.role'
      %th= t '.adscription'
      %th= t '.user_incharge'
      %th= t '.request_type'
      %th= t '.actions'
  %tbody
    = render :partial => @user_requests

.span12
  = link_to t('.new'), new_user_request_path, :class => 'btn btn-primary'
