- blueprint 'span-21 prepend-1 last', :id => 'buttons' do
  %h3 
    = 'Solicitud '
    = @user_request.period.name

  - blueprint('span-23 last', :id => 'collection') do
    - blueprint('span-5', :id => 'collection_td') do
      %b= 'Actividad a realizar'
    - blueprint('span-8', :id => 'collection_td') do
      %b= 'Responsable académico'
    - blueprint('span-4', :id => 'collection_td') do
      %b= 'Departmento'
    - blueprint('span-4', :id => 'collection_td') do
      %b= 'Tipo de solicitud'
  - blueprint 'span-23 last', :style => 'text-align: left;'  do
    - blueprint('span-5') do
      = @user_request.role.name
    - blueprint('span-8') do
      = @user_request.user_incharge.fullname
    - blueprint('span-4') do
      = @user_request.adscription.name
    - blueprint('span-4') do
      = @user_request.is_restamped? ? 'Resello' : 'Solicitud nueva'

- blueprint 'span-21 prepend-1 last', :id => 'buttons' do
  = link_to t(:edit), edit_user_request_path, :class => 'ui-state-default ui-corner-all button'
  = link_to t(:back), user_requests_path, :class => 'ui-state-default ui-corner-all button'
