%h3= t '.title'

= show_for @user_request do |u|
  = u.association :period, :using => :name
  = u.association :role, :using => :name
  = u.association :adscription, :using => :name
  = u.association :user_incharge, :using => :fullname
  %p.wrapper#user_request_is_restamped
    %strong=t(:is_restamped, :scope => 'activerecord.attributes.user_request')
    = @user_request.is_restamped? ? 'Resello' : 'Solicitud nueva'
  = u.attribute :start_month
  = u.attribute :start_year
  = u.attribute :end_month
  = u.attribute :end_year

.span12
  = link_to t(:back), user_requests_path, :class => 'btn'
