%tr
  %td
    - if !student_request.user.nil? and !student_request.user.person.nil? and !student_request.user.person.photo.nil?
      = image_tag(student_request.user.person.photo.url(:card), :size => '70x70')
  %td
    - if student_request.user.nil? or student_request.user.person.nil?
      = 'No ha registrado datos personales'
    - else
      = student_request.user.person.fullname
  %td
    - if !student_request.user.nil? and !student_request.user.address.nil?
      = student_request.user.address.phone unless student_request.user.address.nil?
  %td
    = student_request.role.name
  %td
    = student_request.period.name
  %td
    - unless student_request.user.nil?
      = student_request.user.email
  %td
    = student_request.activities
  %td
    = student_request.requeststatus.name
  %td
    - if student_request.requeststatus_id == 2 or student_request.requeststatus_id == 4
      = '¿Autorizar solicitud?'
      %br/
      = link_to 'Sí', approve_academics_student_request_path(student_request.id), :confirm => t(:confirm_question)
      = ' o '
      = link_to 'No', reject_academics_student_request_path(student_request.id), :confirm => t(:confirm_question)
  %td= (student_request.had_desktop_in_previous_period?) ? 'Sí' : 'No'
  %td= student_request.building.name unless student_request.building.nil?
  %td= student_request.desktop
  %td= student_request.schedule.name unless student_request.schedule.nil?
  %td= (student_request.has_disability?) ? 'Sí' : 'No'
  %td= student_request.disability.name unless student_request.disability.nil?
  %td= student_request.special_requeriment
