- blueprint 'span-22 last', :style => 'border-bottom: 1px solid green; margin-bottom: 10px;' do
  - blueprint 'span-2' do
    = image_tag(student_request.user.person.photo.url(:card), :size => '70x70')
  - blueprint 'span-17' do
    - blueprint 'span-17 last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Nombre: '
        = student_request.user.person.fullname
      - blueprint 'span-7 last' do
        %b= 'Teléfono: '
        = student_request.user.address.phone unless student_request.user.address.nil?
    - blueprint 'span-17  last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Actividad a realizar: '
        = student_request.role.name
      - blueprint 'span-7 last' do
        %b= 'Período: '
        = student_request.period.name
    - blueprint 'span-17  last', :id => 'collection_tr' do
      - blueprint 'span-10' do
        %b= 'Correo electrónico: '
        = student_request.user.email
      - blueprint 'span-7 last' do
        %b= 'Estado de solicitud:' 
        = student_request.requeststatus.name
  - blueprint 'span-3 last' do
    - if student_request.requeststatus_id == 2 or student_request.requeststatus_id == 4
      = '¿Autorizar solicitud?'
      %br
      = link_to 'Sí', academics_student_request_path(:id => student_request.id, :requeststatus_id => 3 )
      = ' o '
      = link_to 'No', academics_student_request_path(:id => student_request.id, :requeststatus_id => 4 )
