%h3= t :schooling_new
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = f.collection_select :degree_id, Degree.all, :id, :name, {:prompt => true}, :required => true, :blueprint => 'span-6'
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = f.text_field :career, :size => 25, :maxlength => 60, :required => true, :blueprint => 'span-6'
  = f.text_field :school, :size => 30, :maxlength => 60, :required => true, :blueprint => 'span-7'
  = f.text_field :institution, :size => 25, :maxlength => 60, :required => true, :blueprint => 'span-6 last' 
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = f.text_field :studentid, :size => 25, :maxlength => 35, :blueprint => 'span-6 last'
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = f.text_field :average, :size => 3, :maxlength => 3, :required => true, :blueprint => 'span-6'
  = f.text_field :credits, :size => 3, :maxlength => 3, :required => true, :blueprint => 'span-7 last'
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = f.text_field :startyear, :size => 4, :maxlength => 4, :required => true, :blueprint => 'span-6' 
  = f.text_field :endyear, :size => 4, :maxlength => 4, :blueprint => 'span-7 last'
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = f.text_field :is_studying_this, :size => 4, :maxlength => 4, :blueprint => 'span-6' 
  = f.text_field :is_titleholder, :size => 4, :maxlength => 4, :blueprint => 'span-7'
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = f.file_field :file, :required => true,  :blueprint => 'span-8 last'
- blueprint 'span-21 prepend-2 last', :style => 'text-align: left;' do
  = f.submit
  = ' | '
  = link_to t(:cancel), schoolings_path
