= render :partial => 'shared/errors', :locals => { :f => f}

%b=t '.degree_and_school'
= f.association :degree, :required => true, :input_html => { :class => 'chzn-select' }
= f.input :career, :required => true, :as => :string, :input_html => { :class => 'input-medium' }
= f.input :school, :required => true, :as => :string, :input_html => { :class => 'input-medium' }
= f.input :institution, :required => true, :as => :string, :input_html => { :class => 'input-medium' }

%hr/
%b= t '.degree_details'
= f.input :studentid, :as => :string, :input_html => { :class => 'input-small' }
= f.input :average, :as => :string, :input_html => { :class => 'input-small' }
= f.input :credits, :as => :string, :input_html => { :class => 'input-small' }
= f.input :startyear, :required => true, :as => :string, :input_html => { :class => 'input-small' }
= f.input :endyear, :required => true, :as => :string, :input_html => { :class => 'input-small' }

%hr/
%b= t '.degree_status'
%div.control-group.string.required
  = label :is_studying_this, t(:is_studying_this, :scope => 'activerecord.attributes.schooling'), :class => 'string required control-label'
  %div.controls
    = (f.radio_button :is_studying_this, true, :checked => (f.object.is_studying_this unless f.object.nil?)) + 'Sí'
    = (f.radio_button :is_studying_this, false, :checked => (!f.object.is_studying_this unless f.object.nil?)) + 'No'
%div.control-group.string.required
  = label :is_title_holder, t(:is_titleholder, :scope => 'activerecord.attributes.schooling'), :class => 'string required control-label'
  %div.controls
    = (f.radio_button :is_titleholder, true, :checked => (f.object.is_titleholder unless f.object.nil?)) + 'Sí'
    = (f.radio_button :is_titleholder, false, :checked => (!f.object.is_titleholder unless f.object.nil?)) + 'No'

%hr/
%b= t '.degree_docs'
= f.input :file, :required => true, :as => :file

.span12
  = f.button :submit, :class => 'btn btn-success'
  = link_to t(:cancel), schoolings_path, :class => 'btn'
