= show_for schooling_show do  |record|
  = record.association :degree
  = record.attribute :career
  = record.attribute :school
  = record.attribute :institution
  = record.attribute :studentid
  = record.attribute :average
  = record.attribute :credits
  = record.attribute :startyear
  = record.attribute :endyear
  = record.attribute :is_studying_this
  = record.attribute :is_titleholder
- unless schooling_show.file.nil?
  %p= link_to t(:cardex), schooling_show.file.url, :target => :new
