%tr
  %td
    = schooling.degree.name
  %td
    %p
      = t(:career, :scope => 'activerecord.attributes.schooling') + ': '
      = schooling.career
    %p 
      = t(:school, :scope => 'activerecord.attributes.schooling') + ': '
      = schooling.school
    %p
      = t(:institution, :scope => 'activerecord.attributes.schooling') + ': '
      = schooling.institution
    %p 
      = t(:average, :scope => 'activerecord.attributes.schooling') + ': '
      = schooling.average
      = ', '
      = t(:credits, :scope => 'activerecord.attributes.schooling') + ': '
      = schooling.credits || '-'
    %p 
      = t(:is_studying_this, :scope => 'activerecord.attributes.schooling') + ': '
      = schooling.is_studying_this? ? 'Sí' : 'No'
    %p 
      = t(:is_titleholder, :scope => 'activerecord.attributes.schooling') + ': '
      = schooling.is_titleholder? ? 'Sí' : 'No'
    %p
      = link_to t(:cardex), schooling.file.url, :target => :new
  %td
    = schooling.startyear
  %td
    = schooling.endyear
  %td.btn-group
    = link_to t(:edit), edit_schooling_path(schooling), :class => 'btn btn-info'
    = link_to t(:delete), schooling_path(schooling), :method => :delete, :confirm => t(:confirm_question), :class => 'btn btn-warning'
