%h3= 'Antecedentes Académicos'
#collection
  - blueprint('span-23 prepend-1 last', :id => 'collection') do
    - blueprint('span-3', :id => 'collection_th') do
      %b= 'Grado'
    - blueprint('span-10', :id => 'collection_th') do
      %b= 'Descripción'
    - blueprint('span-3', :id => 'collection_th') do
      %b= 'Año de inicio'
    - blueprint('span-3', :id => 'collection_th') do
      %b= 'Año de término'
    - blueprint('span-4 last', :id => 'collection_th') do
      %b= 'Acciones'
    = render :partial => @schoolings
- blueprint('span-22 prepend-1 last', :style => 'text-align: left;') do
  = link_to 'Agregar', new_schooling_path
