%h3= t '.title'

%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th= t '.degree'
      %th= t '.description'
      %th= t '.startyear'
      %th= t '.endyear'
      %th= t '.actions'
  %tbody
    = render :partial => @schoolings

.span12
  = link_to t(:new), new_schooling_path, :class => 'btn btn-primary'
