%div{:class => 'span-12	 prepend-1', :style => 'margin: 10px; padding: 10px; border-right: 1px solid silver;'}
  %h2 Solicitud de Resello

  %p{:class => 'notice_box blue'}
    = image_tag('ok.png')
    = 'Resello de credenciales para Estudiantes Asociados al Instituto de Física de la UNAM '
    %b= "(Período: #{Period.activated.name})."
  %div{:class => 'span-3', :style => 'text-align: left;'}
    = form_for(resource, :as => :user, :url => session_path(:user)) do |f|
      %p
        = f.label :login, 'Usuario', :class => 'login'
        = f.text_field :login, :size => 12, :maxlength => 21
      %p
        = f.label :password, 'Contraseña', :class => 'login'
        = f.password_field :password, :size => 12, :maxlength => 21
      %p= f.submit "Entrar"
  %div{:class => 'span-8 round_box'}
    %p='Para entrar al sistema debes usar el usuario y contraseña del correo electrónico del Instituto de Física.'
    %p='Por ejemplo, si tu cuenta de correo es <b><em>roberto@fisica.unam.mx</em></b>, los datos para entrar al sistema son:'.html_safe
    %p{:class=>'example'}
      %b='Usuario: '
      %span{:class=>'highlight_example'}= 'roberto'
      %br
      %b='Contraseña: '
      = '***********'
%div{:class => 'span-10 last', :style => 'margin: 10px; padding: 10px;'}
  %h2 Solicitud de Estudiante
  %div{:class => 'span-6 round_box'}
    %p='Para entrar al sistema debes usar el usuario y contraseña que registraste en el SIESTA.'
    %p='Por ejemplo: '
    %p{:class=>'example'}
      %b='Usuario: '
      %span{:class=>'highlight_example'}= 'marianab'
      %br
      %b='Contraseña: '
      = '***********'
  %div{:class => 'span-3', :style => 'text-align: right;'}
    = form_for(resource, :as => :account, :url => accounts_account_session_path(:account)) do |f|
      %p
        = f.label :login, 'Usuario', :class => 'login'
        = f.text_field :login, :size => 12, :maxlength => 21
      %p
        = f.label :password, 'Contraseña', :class => 'login'
        = f.password_field :password, :size => 12, :maxlength => 21
      %p= f.submit "Entrar"
  %div{:class => 'span-9 last', :style => 'margin: 10px; padding: 10px;'}
    = render :partial => "accounts/shared/links"
