%h3= 'Documentos probatorios'
#collection
  - blueprint('span-20 prepend-2 last', :id => 'collection') do
    - blueprint('span-15 ', :id => 'collection_th') do
      %b= 'Documento probatorio'
    - blueprint('span-5 last', :id => 'collection_th') do
      %b= 'Acciones'
    = render :partial => @documents
- if @documents.size < 2
  - blueprint('span-20 prepend-2 last', :style => 'text-align: left;') do
    = link_to 'Agregar documento', new_file_uploader_path
