%h3= t :user_documents
#collection
  - blueprint('span-20 prepend-2 last', :style => 'text-align: left;  margin-bottom: 10px;') do
    - blueprint('span-15 ', :style => 'border-bottom: 1px solid blue; margin-bottom: 10px;') do
      %b= t :document_type
    - blueprint('span-5 last', :style => 'border-bottom: 1px solid blue; margin-bottom: 10px;') do
      %b= t :actions
    = render :partial => @documents
- blueprint('span-20 prepend-3 last', :style => 'text-align: left;') do
  = link_to t(:new), new_file_uploader_path
