%table.table.class-condensed
  %tbody
    %tr
      %table.table
      %td
        %b='Nombre: ' 
        = student.fullname
        %br/ 
        %b='Correo electrónico: '
        = student.email
        %br/
    %td
      - unless  student.user_requests.first.nil?
        %table.table.table-bordered
          %thead
            %tr
              %th= 'Periodo'
              %th= 'Responsable académico'
              %th= 'Tipo de actividad'
              %th= 'Estado de solicitud'
              %th= 'Tipo de solicitud'
              %th= 'Aprobado por CD-IF'
          %tbody
            = render :partial => 'managers/students/user_request', :object => student.user_requests.first
