%h3= 'Datos del Estudiante y de la solicitud'
.well
  = render :partial => 'student', :object => @student

.well
  %h3= 'Asignar cuenta de correo electrónico'

  - if @users.size > 0
    %table.table-bordered.table-condensed
      %thead
        %tr
          %th= 'Correo electrónico'
          %th= 'Nombre'
          %th= 'Acciones'
      %tbody
        = render :partial => 'managers/emails/user', :collection => @users
  %p
  = link_to 'Nueva cuenta de correo', new_managers_email_path(:id => @student.id), :class => 'btn btn-primary'
  = link_to 'Cancelar', managers_student_path(:id => @student.id), :class => 'btn'
