%h3= t :address
= show_for address do |record|
  = record.attribute :location
  = record.association :country, :using => :name
  = record.association :state, :using => :name
  = record.attribute :city
  = record.attribute :zipcode
  = record.attribute :phone
  = record.attribute :fax
  = record.attribute :other
