= f.hidden_field :id unless f.object.new_record?

%h3= t '.address'
= f.input :location, :as => :text, :required => true, :input_html => { :class => 'input-xsmall', :size => '40x3' }
= f.input :pobox, :as => :string, :input_html => { :class => 'input-medium' }

%div.control-group.string.required
  = label :country, t(:country, :scope => 'activerecord.attributes.address'), :class => 'string required control-label'
  %div.controls='México'

- if f.object.new_record?
  - f.object.other = 'Edificio y número de cubículo, o el área de trabajo'
  - f.object.city = 'Ciudad de México'
  - f.object.state_id = 9

= f.association :state, :collection => State.find_all_by_country_id(484), :as => :select, :required => true, :selected => f.object.state_id, :input_html => { :class => 'chzn-select' }
= f.input :city, :as => :string, :required => true, :input_html => { :class => 'input-medium' } 
= f.input :zipcode,:as => :string, :required => true, :input_html => { :class => 'input-small' } 
= f.input :phone, :as => :string, :required => true, :input_html => { :class => 'input-medium' }
= f.input :fax, :as => :string, :input_html => { :class => 'input-medium' } 

= f.input :other, :as => :text, :required => true, :input_html => { :class => 'input-xlarge', :size => '40x3' }

