%tr
  %td
    = image_tag(student_request.user.person.photo.url(:card), :size => '70x70')
  %td
    = student_request.user.person.fullname
  %td
    = student_request.role.name
  %td
    = mail_to student_request.user.email, student_request.user.email, :encode => "javascript"
  %td
    = student_request.period.name
