%table.table.table-bordered
  %thead
    %tr
      %th= 'Fotografía'
      %th= 'Nombre'
      %th= 'Actividad que realiza'
      %th= 'Correo electrónico'
      %th= 'Periodo'
  %tbody
    = render :partial => 'student_request', :collection => @collection
