%div{:class => 'span-10 prepend-6', :style => 'text-align: center;'}
  %div{:class => "message_box blue", :style => 'padding: 20px; text-align: center;'}
    %h3="La contraseña de su cuenta #{@user.login} se ha generado!"
    %p
      ="Se ha enviado correo electrónico a "
      %b= @user.email
      =", en el mensaje encontrará las instrucciones para entrar al sistema."
  %br
  %div{:class => "notice_box red"}
    %p 
      ="Sí el mensage no aparece en su buzón de correo electrónico revise en la carpeta de "
      %b= "spam o junk."
  %br
  %p{:style=>'color: #006666; font-size: 15px', :id => 'buttons'}
    = "Gracias por usar el SIESTA!"
    %br 
    %br 
    = link_to 'Regresar', new_session_path, :class => 'ui-state-default ui-corner-all button'