- blueprint 'span-20 prepend-2 last',  :style => 'text-align: left;' do
  %h3= 'Nueva cuenta de correo electr칩nico'
  = render :partial => 'admin/students/user_request', :object => @student
  - form_for @user, :user, :url => admin_emails_path, :html => { :method => :post} do |f|
    - blueprint 'span-20' do
      = f.label :login, "Usuario:", :class => 'login'
      = f.text_field :username, :size => 12
    - blueprint 'span-20' do
      = f.label :password, "Contrase침a:", :class => 'login'
      = f.password_field :passwd, :size => 12
    - blueprint 'span-20' do
      = f.label :password, "Confirmaci칩n de la contrase침a:", :class => 'login'
      = f.password_field :passwd_confirmation, :size => 12
      = hidden_field :student, :id, :value => @student.id
    %p
      = submit_tag('Guardar')
      = link_to 'Cancelar', new_admin_email_path(:id => @student.id)