
- blueprint 'span-20 prepend-2 last' do
  %h3= 'Cuenta de correo electrónico'
  = render :partial => 'admin/students/user_request', :object => @student
  - if @unix_users.size > 0
    - blueprint 'span-24 last 'do
      - blueprint 'span-7', :id => 'collection_th' do
        %b= 'Correo electrónico'
      - blueprint 'span-6', :id => 'collection_th' do
        %b= 'Nombre'
      - blueprint 'span-6 last', :id => 'collection_th' do
        %b= 'Acciones'

      = render :partial => 'user', :collection => @unix_users
- blueprint 'span-20 prepend-2 last', :id => 'collection_tr' do
  = link_to 'Nueva cuenta de correo', new_admin_email_path(:id => @student.id)
  = ' | '
  = link_to 'Cancelar', admin_student_path(:id => @student.id)