.well.span10.offset1
  = render :partial => 'shared/errors', :locals => { :f => f }
  = f.input :name, :as => :string, :required => 'true', :input_html => { :class => 'input-medium' }
  = f.input :startdate, :as => :string, :required => 'true', :input_html => { :class => 'input-medium date' }
  = f.input :enddate, :as => :string, :required => 'true', :input_html => { :class => 'input-medium date' }

  %div.control-group.string.required
    = label :status, t(:status, :scope => 'activerecord.attributes.period'), :class => 'string required control-label'
    %div.controls
      = (f.radio_button :is_active, false, :checked => (!f.object.is_active unless f.object.nil?)) + 'Inactivo'
      = (f.radio_button :is_active, true, :checked => (f.object.is_active unless f.object.nil?)) + 'Vigente'

  %p
    = f.button :submit, t(:save), :class => 'btn btn-success'
    = ' '
    = link_to 'Cancelar', managers_periods_path, :class => 'btn'
