%tr
  %td= record.name
  %td= record.startdate
  %td= record.enddate
  %td= record.status
  %td
    = link_to t(:edit), edit_managers_period_path(record), :class => 'btn btn-info'
    = link_to t(:delete), managers_period_path(record), :method => :destroy, :class => 'btn btn-danger', :confirm => t(:confirm_question)
