%h3= 'Periodos'

%table.table.table-bordered
  %thead
    %tr
      %th= 'Periodo'
      %th= 'Fecha de inicio del resello'
      %th= 'Fecha de término del resello'
      %th= 'Estado'
      %th= 'Acciones'

  %tbody{:id => :collection}
    = render :partial => 'record', :collection => @periods

#paginator.span12
  = will_paginate(@periods)

.span11.offset1
  = link_to 'Agregar nuevo periodo', new_managers_period_path, :class => 'btn btn-primary'
