%h3= 'Enviar Solicitud de Estudiante Asociado'
- if !@user_request.nil? and !@user_request.current_request.nil?
  %center
    %p{:class => 'notice_box blue'}
      = "El estado actual de su solicitud para el periodo #{Period.most_recent.name} es "
      %b= @user_request.current_request_status.downcase + '.'
      = "Debe completar la información de una sección cuando aparezca el símbolo: "
      = image_tag('missing.gif', :border => 0, :style => 'float: none; text-align: left; vertical-align: bottom;') 
  - user_request_is_complete = true
  - @user_request.requirements.each do |a|
    - blueprint 'span-11 prepend-7 last', :style => 'text-align: left;' do
      = link_to image_tag((a[2] == true ? 'ok.gif' : 'missing.gif'), :border => 0) + t(a.first), a[1]
      - user_request_is_complete = a[2] if a[2] == false
    %br
       
  - if user_request_is_complete == true and @user_request.is_current_request_saved?
    %br
    - blueprint 'span-11 prepend-7 last', :style => 'text-align: left;', :id => 'buttons' do
      = link_to 'Enviar Solicitud', send_user_request_path(:id => @user_request.current_request.id), :method => :put, :confirm => '¿Desea enviar su solicitud?', :class => 'ui-state-default ui-corner-all button', :style => 'color: blue; font-weight:bold; text-decoration: blink;'
- else
  %center
    %p{:class => 'notice_box red'}
      = 'Registre su solicitud de estudiante asociado: '
      = link_to 'Solicitud', user_requests_path
