<div class="user_profile">
<div class="row" style="width:100%;">
	<div class="photo">
		<%= image_tag("/photos/#{user_request.user_id}.jpg", :size => "70x80", :border => '1px') %>
	</div>
	<div class="profile">
		<b>Nombre: </b> <%= user_request.user.person.fullname %> <br/>
		<b>Genéro: </b> <%= label_for_boolean('gender', user_request.user.person.gender) %> <br/>
		<b>Fecha de nacimiento: </b> <%= user_request.user.person.birthdate %> <br/>
		<b>Actividad a realizar: </b> <%= user_request.role.name %> <br/>
		<b>Periodo: </b> <%= user_request.period.name %> <br/>
	</div>
	<%= render :partial => 'user_requeststatus', :locals => { :user_request => user_request } %>
</div>
</div>
