<div class="status_<%= user_request.requeststatus.id %>" id="status_<%= user_request.dom_id %>" >
<b>Estado de solicitud: </b> <%= user_request.requeststatus.name %> <br/> <br/>
<% if user_request.requeststatus_id == 2%>
<b>¿ Desea autorizar <%= label_for_boolean('is_restamped', user_request.is_restamped ).downcase %> ? </b> 
 <%= link_to_remote 'Sí', :url => authorize_academic_user_request_path(user_request), :method => :get %> ó 
 <%= link_to_remote 'No', :url => unauthorize_academic_user_request_path(user_request), :method => :get %>
<% else %>
 <b>Estado actualizado por: </b> <%= user_request.user_incharge.login %> <br/> <br/>
 <b>Fecha de actualización: </b> <%= user_request.updated_at %>
<% end %>
</div>
