<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Estudiantes Asociados, Instituto de Física - UNAM, <%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application', 'forms'%>
  <%= javascript_include_tag :defaults %>
 <%= calendar_date_select_includes "red" %>
</head>
<body>

<div id="header">
        <a href="http://www.fisica.unam.mx" target="_new">http://www.fisica.unam.mx</a>
</div>
<div class="toplinks">
        Usuario: <span class="logged_user"><%= logged_user %></span> |
        <%= link_to('Salir', academic_session_path, :method => :delete ) %>
</div>

<div id ="body">
   <p style="color: green"><%= flash[:notice] %></p>
    <%= yield  %>
</div>

<div id="footer">
</div>
</body>
</html>
