ΩΩ!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title&= yield(:title) || "Sistema de Estudiantes Asociados - SIESTA"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'dashboard.css', :media => 'screen, projection'
    = stylesheet_link_tag 'ui/themes/smoothness/jquery.ui.all'
    = stylesheet_link_tag "ui/themes/smoothness/jquery-ui-1.8.14.custom"
    = stylesheet_link_tag "ui/themes/smoothness/jquery.ui.dialog"
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "jquery-1.6.2"
    = javascript_include_tag "ui/jquery-ui-1.8.14.custom"
    = javascript_include_tag "ui/jquery.ui.core"
    = javascript_include_tag "ui/jquery.ui.widget"
    = javascript_include_tag "ui/jquery.ui.button"
    = javascript_include_tag 'rails'
    = javascript_include_tag "application"
  %body
    %div{:class =>'container'}
      = render :partial => 'layouts/header'
      - blueprint 'span-24 last', :style => 'text-align: right; padding-right: 100px;' do
        = link_to 'Salir', destroy_managers_user_session_path
      %div{:id => 'main', :class => 'span-24 last'}
        = yield :layout
      %div{:id => 'main_footer', :class => 'span-24 last'}
      = render :partial => 'layouts/footer'
