!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title&= yield(:title) || "Sistema de Estudiantes Asociados - SIESTA"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'dashboard.css', :media => 'screen, projection'
    = stylesheet_link_tag 'ui/themes/smoothness/jquery.ui.all'
    = stylesheet_link_tag "ui/themes/smoothness/jquery-ui-1.8.14.custom"
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "jquery-1.6.2.js "
    = javascript_include_tag "ui/jquery-ui-1.8.14.custom"
    = javascript_include_tag 'jquery.rails.min'
    = javascript_include_tag 'jquery.rails'
    = javascript_include_tag "application"
  %body
    %div{:class =>'container'}
      = render :partial => 'layouts/header'
      - unless current_user.nil?
        %div{:id => 'top_links', :class => "span-24 last"}
          = link_to image_tag('profile_on.png'), profile_path, :alt => 'INICIO'
          = link_to image_tag('schoolings_on.png'), schoolings_path, :alt => 'ANTECEDENTES ACADÉMICOS'
          = link_to image_tag('file_uploaders_on.png'), file_uploaders_path, :alt => 'DOCUMENTOS PROBATORIOS'
          = link_to image_tag('user_requests_on.png'), user_requests_path, :alt => 'SOLICITUD'
          = link_to image_tag('send_user_request_on.png'), send_user_request_path, :alt => 'ENVIAR SOLICITUD'
      %div{:id => 'main', :class => 'span-24 last'}
        - flash.keys.each do |name|
          %div{:id => "flash_#{name}"}= flash[name]
        = yield :layout
      %div{:id => 'main_footer', :class => 'span-24 last'}
      = render :partial => 'layouts/footer'
