!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title&= yield(:title) || "Sistema de Estudiantes Asociados - SIESTA"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'dashboard.css', :media => 'screen, projection'
    = stylesheet_link_tag 'ui/themes/base/ui.all'
    = stylesheet_link_tag "ui/themes/ui-lightness/jquery-ui-1.7.2.custom"
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "jquery-1.4.1"
    = javascript_include_tag "ui/jquery-ui-1.7.2.custom"
    = javascript_include_tag "rails"
    = javascript_include_tag "application"
  %body
    %div{:class =>'container'}
      = render :partial => 'layouts/header'
      %div{:id => 'main', :class => 'span-24 last'}
        = yield(:layout).force_encoding('utf-8')
      %div{:id => 'main_footer', :class => 'span-24 last'}
      = render :partial => 'layouts/footer'