%h3= 'Subir fotografía'

.well
  = simple_form_for(@person, :as => :person, :url => managers_photo_path(@person), :html => {:multipart => true}) do |f|
    = render :partial => 'shared/errors', :locals => { :f => f }
    = f.label :photo, 'Seleccione el archivo'
    = f.file_field :photo, :size => 20, :blueprint => 'span-10 last'
    .span11
      = f.button :submit, t(:save), :class => 'btn btn-success'
      = link_to t(:cancel), managers_student_path(:id => @person.user_id), :class => 'btn'
